body {
  background-color: black
  }
h1,p {
  margin: 0;
  text-align: center;
  text-shadow: 0px 0px 8px #525252;
  }
.text {
  font-family: arial;
  font-size: 22px;
  color: white;
  }
.header {
  color: white;
  font-weight: bold;
  font-family: arial;
  font-size: 60px;
  margin-bottom: 16px;
  }
.workspace {
  /*border: 2px solid white;*/
  position: absolute;
  bottom: 42%;
  left: 10%;
  right: 10%;
  }
.block1 p,h1 {
  text-shadow: none;
  text-align: justify;
  text-align-last: center;
  }
.block2 p,h1 {
  text-shadow: none;
  text-align: justify;
  text-align-last: center;
  }
.content {
  padding-top: 20vh;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10%;
  text-align: center;
  }
.navbar {
  text-align: center;
  margin-top: 45px;
  }
.navlinks {
  border: 2px solid white;
  padding: 15px;
  color: white;
  font-size: 14px;
  font-family: arial;
  text-decoration: none;
  transition-duration: 0.6s;
  margin-right: 2px;
  margin-left: 2px;
  box-shadow: 0px 0px 8px #525252;
  text-shadow: 0px 0px 8px #525252;
  }
.navlinks:hover {
  background-color: #ffffff;
  color: #000000;
  }
.goback {
  border: 2px solid #000000;
  font-family: arial;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  color: #000000;
  transition-duration: 0.6s;
  }
.goback:hover {
  background-color: #000000;
  color: #ffffff;
  }
