* {
    padding: 0;
    margin: 0;
    font-family: arial;
    text-decoration: none;
    }
.content {
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    margin-right: 25vw;
    margin-left: 25vw;
    }
.content p {
    text-align: justify;
    font-size: 24px;
    }
.content h1 {
    text-align: center;
    padding: 10px;
    }