:root {
    --image: url('../imagens/wd2art.jpg');
    --color1: #000;
    --color2: #fff;
    --color3: #62a0ea;
    --color4: #1c71d8;
    }

* {
    color: var(--color2);
    transition: 0.6s;
    }
body {
    background-color: var(--color1);
    opacity: 0;
    }
h1 {
    line-height: 60px;
    }
a {
    margin-left: 2px;
    margin-right: 2px;
    padding: 5px;
    border: 2px solid var(--color2);
    border-radius: 6px;
    background-color: var(--color1);
    color: var(--color2);
    transition-duration: 0.6s;
    }
a:hover {
    color: var(--color1);
    background-color: var(--color2);
    box-shadow: 0 0 1.5em var(--color2);
    border-radius: 3px;
    padding: 10px;
    }
.image {
    position: absolute;
    top: -8px;
    z-index: -1;
    background-image: var(--image);
    background-size: cover;
    background-position: center center;
    filter: blur(2px);
    width: 100vw;
    height: 80px;
    }
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
video {
    border-radius: 20px;
    border: 2px solid var(--color2);
    }

/* NAVBAR */

.navbar {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100vw;
    background-color: none;
    position: fixed;
    justify-content: center;
    transition: 0.6s;
    }
.selected {
    border: 2px solid var(--color3);
    }
.selected:hover {
    color: var(--color1);
    border: 2px solid var(--color3);
    box-shadow: 0 0 1.5em var(--color3);
    background-color: var(--color3);
    }
.theme{
    width: 19px;
    height: 19px;
    background-color: var(--color2);
    cursor: pointer;
}

/* Image Board */

.imageboard {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    }
.imageboard img {
    width: 400px;
    height: 230px;
    padding: 2px;
    border-radius: 10px;
    }
.board {
    display: flex;
    
    }
