body {
  background-color: black;
  }
  
details {
  color: white;
  font-family: arial;
  font-size: 20px;
  }
  
#pagebreak {
  line-height: 35em;
  }
  
#workspace {
  margin-left: 30%;
  margin-right: 30%;
  }

#text {
  color: white;
  font-family: arial;
  font-size: 28px;
  line-height: 34px;
  text-align: justify;
  }

#altext {
  color: white;
  font-weight: bold;
  font-family: arial;
  font-size: 34px;
  line-height: 36px;
  }
  
#highlight {
  color: white;
  font-weight: bold;
  font-family: arial;
  text-align: left;
  font-size: 42px;
  }

#header {
  color: white;
  font-weight: bold;
  font-family: arial;
  text-align: center;
  font-size: 48px;
  }
  
#details {
  color: #ffffff;
  font-family: arial;
  font-size: 18px;
  }
#details img {
  float: left;
  }
#details_text {
  font-size: 18px;
  line-height: 10px;
  }
