#navbar {
  padding: 10px 10px;
  background: #000000;
  border-radius: 10px;
  text-align: center;
  position: sticky;
  }
  
#navlinks {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 14px;
  border: none;
  font-size: 20px;
  transition-duration: 0.6s;
  cursor: pointer;
  font-family: arial;
  text-decoration: none;
  line-height: 50px;
  border-radius: 10px;
  }
  
#navlinks:hover { 
  background-color: #2f6aff;
  }
  
#navlinks_goback {
  background-color: #000000;
  color: #ffffff;
  padding: 4px 8px;
  border: 2px solid #2f6aff;
  font-size: 14px;
  font-weight: bold;
  transition-duration: 0.6s;
  cursor: pointer;
  font-family: arial;
  text-decoration: none;
  border-radius: 10px;
  }
  
#navlinks_goback:hover {
  background-color: #2f6aff;
  }
